html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

.usa-sr-only {
  position: absolute;
  left: -999em;
}

#toolbar ul {
  display: block;
}

#toolbar ul li:before {
  display: none;
}

#block-system-powered-by {
  background-color: #205493;
  color: #ffffff;
  padding: 1rem 0;
  text-align: center;
}

#block-system-powered-by a {
  color: #ffffff;
  text-decoration: underline;
}

.tabs {
  border-bottom: 3px solid #0071bc;
  width: 100%;
}

.usa-tab {
  display: inline-block;
  margin-bottom: -1px;
  margin-right: 4px;
}

.usa-tab:before {
  content: '';
}

.usa-tab a {
  background-color: #5b616b;
  color: #fff;
  font-weight: 700;
  margin-bottom: .4rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  text-decoration: none;
}

.usa-tab a:hover {
  background-color: #4773aa;
}

.usa-tab a.active {
  background-color: #0071bc;
}

@media screen and (min-width: 600px) {
  form {
    max-width: initial;
  }
}

input,
input[type="text"],
input[type="email"],
input[type="password"],
input[type="url"],
input[type="tel"],
input[type="number"],
input[type="search"],
input[type="file"],
input[type="date"],
input[type="datetime-local"],
input[type="month"],
input[type="time"],
input[type="week"],
textarea,
select {
  max-width: initial;
}

h6.usa-heading-alt {
  margin-top: 4rem;
}

.usa-heading-alt {
  border-bottom: 1px solid #5b616b;
  padding-bottom: .8rem;
}

.usa-sidenav-list .active {
  border-left: 4px solid #0071bc;
  color: #0071bc;
  font-weight: 700;
  padding-left: 1.4rem;
}

.usa-sidenav-list .usa-sidenav-list {
  margin: 0;
  width: 100%;
}

.usa-sidenav-list .usa-sidenav-list li {
  border: none;
  font-size: 1.5rem;
}

.usa-sidenav-list .usa-sidenav-list li:first-child {
  border-top: none;
}

.usa-sidenav-list .usa-sidenav-list a {
  padding-left: 2.8rem;
  line-height: 1.3;
}

.usa-sidenav-list .usa-sidenav-list .active {
  border-left: none;
}

.usa-sidenav-list .usa-sidenav-list .usa-sidenav-list a {
  padding-left: 3.8rem;
}

.usa-alert-status {
  background-color: #E8F5FA;
  background-image: url("../assets/img/alerts/info.png");
  background-image: url("../assets/img/alerts/info.svg");
}

.usa-input-error label {
  display: block;
  font-size: 1.7rem;
  font-weight: 700;
  margin-top: 0;
}

.usa-input-error .form-required {
  color: #cd2026;
}

.usa-banner {
  background-color: #112e51;
  color: #ffffff;
  padding-bottom: 3.7rem;
  padding-top: 1rem;
}

@media screen and (min-width: 600px) {
  .usa-banner h1 {
    font-size: 5.6rem;
  }
}

.usa-banner-site-name {
  color: #ffffff;
}

.usa-banner-site-name:hover {
  text-decoration: none;
}

.usa-banner-site-name:visited {
  color: #ffffff;
}

.usa-font-lead {
  font-size: 2rem;
  font-weight: 300;
  font-family: "Merriweather", "Georgia", "Times New Roman", serif;
  line-height: 1.7;
}
